//Responsive
@mixin responsive($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

// Titles
@mixin title($font-size, $color, $uppercase) {
  font-size: $font-size;
  color: $color;
  text-transform: $uppercase;
  font-weight: 700;
}


// Descriptions
@mixin description($font-size, $color) {
  font-size: $font-size;
  color: $color;
}


// Line
@mixin line($color) {
  width: 100%;
  height: 0.2rem;
  background-color: $color;
}


// Padding
@mixin padding {
  padding: 4rem 2.5rem;

  @include responsive($tablet) {
    padding: 4rem 8rem;
  }

  @include responsive($desktop) {
    padding: 4rem 14rem;
  }
}
