// Colors
$color-porcelain: #F6F8F9;
$color-sunset-orange: #FF4D4D;
$color-turquoise-blue: #52E5BA;
$color-koromiko: #FFC96C;
$color-gray-chateau: #A6ADB4;
$color-brink-pink: #FA6980;
$color-black-haze: #EBEDED;
$color-white: #FFFFFF;
$color-malibu: #72ACFF;
$color-shark: #202124;



// Breakpoints
$desktop: 1440px;
$tablet: 768px;
$mobile: 375px;
